c++
2018年春季MCMC选讲
2019年春季MCMC选讲
2019年春季商务应用统计分析
2018年秋季计算统计
!/2019年春季MCMC选讲/全部讲义/lab_book_1.pdf
AdvancedProbability
c++
ComputeStatistic-Wanghuiya
MathematicAnalysis2
MathematicAnalysis3
StatisticComputeAndOptim
time-series
*.pdf
